 <!-- client logo -->
 <div class="client-logo-area d-grid max-1320 mx-auto my-5">
    <div class="client-wrapper-logo">
        {% if section.settings.clientlogoone %}
            <img src="{{ section.settings.clientlogoone | image_url }}" alt="" class="client-logo" />            
        {% endif %}
    </div>
    <div class="client-wrapper-logo">
        {% if section.settings.clientlogotwo %}
            <img src="{{ section.settings.clientlogotwo | image_url }}" alt="" class="client-logo" />            
        {% endif %}
    </div>
    <div class="client-wrapper-logo">
        {% if section.settings.clientlogothree %}
            <img src="{{ section.settings.clientlogothree | image_url }}" alt="" class="client-logo" />            
        {% endif %}
    </div>
    <div class="client-wrapper-logo">
        {% if section.settings.clientlogofour %}
            <img src="{{ section.settings.clientlogofour | image_url }}" alt="" class="client-logo" />            
        {% endif %}
    </div>
    <div class="client-wrapper-logo">
        {% if section.settings.clientlogofive %}
            <img src="{{ section.settings.clientlogofive | image_url }}" alt="" class="client-logo" />            
        {% endif %}
    </div>
  </div>
  <!-- client logo -->

  {% schema %}
    {
        "name": "Client Logos",
        "settings": [
            {
            "type": "image_picker",
            "id": "clientlogoone",
            "label": "Add Logo 1"
            },
            {
            "type": "image_picker",
            "id": "clientlogotwo",
            "label": "Add Logo 2"
            },
            {
            "type": "image_picker",
            "id": "clientlogothree",
            "label": "Add Logo 3"
            },
            {
            "type": "image_picker",
            "id": "clientlogofour",
            "label": "Add Logo 4"
            },
            {
            "type": "image_picker",
            "id": "clientlogofive",
            "label": "Add Logo 5"
            }
  ]
}
  {% endschema %}