
{% assign main_menu_linklist = linklists[section.settings.menu].links %}
<header>
    <nav
      class="navbar navbar-expand-lg navbar-light bg-transparent max-1320 mx-auto container-fluid flex-column"
    >
      <div class="row justify-content-between w-100 row-top">
        <form
          class="d-flex justify-content-center align-items-center form-lg-devices-n col-2 flex-row-reverse"
        >
          <input
            class="form-control me-2 border-0 border-bottom bg-transparent form-lg-devices-n"
            type="search"
            placeholder=""
            aria-label="Search"
          />
          <i
            class="fa fa-search form-lg-devices-n"
            aria-hidden="true"
            type="submit"
          ></i>
          <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
        </form>
        <a
            class="navbar-brand logo-area justify-content-center col-4"
            href="{{ shop.url }}"
            >
            {% if section.settings.header_logo != blank %}
                <img src="{{ section.settings.header_logo | img_url: '200x' }}" alt="" />
            {% else %}
                {% if section.settings.mobile_menu_title != blank %}
                    <span class="text-decoration-none text-black-50">
                        {{ section.settings.mobile_menu_title }}
                    </span>
                    {% else %}
                        <span class=" text-black-50"> {{ shop.name }}</span>    
                {% endif %}
                
            {% endif %}
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="col-3 form-lg-devices-n">
          <a href="{{ routes.account_url }}" class="account mx-1 text-decoration-none">
            <i class="fa fa-user mx-1" aria-hidden="true"></i>
            Account
          </a>
          <a href="{{ routes.cart_url }}" class="cart mx-1 text-decoration-none">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            Shopping
          </a>
        </div>
      </div>
      <div class="row row-menu">
        <div class="col-12 min-width-1320-px max-1320">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-0">
                {% for links in main_menu_linklist %}
                    <li class="nav-item">
                        <a class="nav-link {% if links.active %} active {% endif %}" aria-current="page" href="{{ links.url }}">
                            {{  links.title }}
                        </a>
                    </li>
                {% endfor %}  
              {% comment %} <li class="nav-item">
                <a class="nav-link" href="#">Clothing & Shoes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Home & Living</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Wedding & Party</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Toys & Entertainment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Art & Collectibles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Craft Supplies & Tools</a>
              </li> {% endcomment %}
            </ul>
            <form
              class="d-flex justify-content-center align-items-center dispaly-small-devices-only flex-row-reverse"
            >
              <i
                class="fa fa-search dispaly-small-devices-only"
                aria-hidden="true"
                type="submit"
              ></i>
              <input
                class="form-control me-2 border-0 border-bottom bg-transparent dispaly-small-devices-only"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />

              <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
            </form>
          </div>
        </div>
      </div>
    </nav>
  </header>

  
{% schema %}
    {
      "name": "Header",
      "settings": [
        {
          "type": "text",
          "id": "mobile_menu_title",
          "label": "Shop Name",
          "default": "Store Name",
          "info": "Enter Your Store Name Here"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Header Menu",
          "default": "main-menu"
        },
        {
        "type": "image_picker",
        "id": "header_logo",
        "label": "Logo"
        }
      ]
    }
  {% endschema %}