{% comment %} {% assign desktopperrow = section.settings.numberofproducts %}
<style>
    @media (min-width:992px) {
        .prodcuts-wrapper .display-grid {
            grid-template-columns: repeat( 4, 1fr);
            {% if desktopperrow > 4 %}
                grid-template-rows: repeat(2, 1fr);
            {% endif %}
            
        }
    }
</style> {% endcomment %}
<!-- products -->

  <div class="container max-1320 w-100 p-0 best-seller-wrapper">
    <div class="row max-1320 w-100">
      <h2 class="best-seller text-center">{{ section.settings.gridHeading }}</h2>
    </div>
  </div>

  <div class="container max-1320 w-100 p-0 filter-wrapper my-md-3 my-lg-5">
    <div class="row max-1320 w-100 filter-row">
      <div class="filters w-50">
        <a href="javascript:void(0)" data-collection-handle="all" class="filter-name active">All</a>
        <a href="javascript:void(0)" data-collection-id="{{ section.settings.collectionone.id }}" data-collection-handle="{{ section.settings.collectionone }}" class="filter-name">{{ section.settings.collectionone.title }}</a>
        <a href="javascript:void(0)" data-collection-id="{{ section.settings.collectiontwo.id }}" data-collection-handle="{{ section.settings.collectiontwo }}" class="filter-name">{{ section.settings.collectiontwo.title }}</a>
        <a href="javascript:void(0)" data-collection-id="{{ section.settings.collectionthree.id }}" data-collection-handle="{{ section.settings.collectionthree }}" class="filter-name">{{ section.settings.collectionthree.title }}</a>
      </div>
      <div class="show-all-button w-50">
        <a href="{{ shop.url }}">Show All</a>
      </div>
    </div>
  </div>
    
 
    
    <!-- products -->
    <div id="product-container">
        <div class="prodcuts-wrapper container-xxl mb-5 ">
            <div class="row w-100 max-1320 mx-auto display-grid">
                <!-- product -->
                 {% for product in collections %}
                    <div class="product--wrapper position-relative">
                        <div class="product--wrapper-img">
                            <a href="{{ product.url }}" class="img-wrapper">
                                <img src="{{ product.featured_image | img_url }}" alt="" class="product-img">

                            </a>
                            <div class="shop-bar position-absolute">
                                <div class="w-50">
                                    <a href="#" class="whislist-wrapper">
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="search-wrapper-p">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="w-50">
                                    <a href="{{ product.url }}" class="shop-now-p">
                                        <span class="wrapper-cart-p">
                                            <i class="fa fa-shopping-bag " aria-hidden="true"></i>
                                        </span>
                                        Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-wrapper-data">
                            <h6 class="product-title">
                                <a href="{{ product.url }}">
                                    {{ product.title }}
                                </a>   
                            </h6>
                            <div class="pricing-wrapper">
                                <span class="category">
                                    {{ product.collections.title }}
                                </span>
                                <span class="price">
                                    {{ product.price |  money }}
                                </span>
                            </div>
                        </div>
                    </div>
                 {% endfor %}
               
                <!-- product -->
            </div>
        </div>
      </div> 
    <!-- products -->

  {% schema %}
  {
    "name": "Products Grid",
    "settings": [

         {
            "type": "collection",
            "id": "collectionone",
            "label": "Collection One"
         },
         {
            "type": "collection",
            "id": "collectiontwo",
            "label": "Collection Two"
         },
         {
            "type": "collection",
            "id": "collectionthree",
            "label": "Collection Three"
         },
         {
            "type": "text",
            "id": "gridHeading",
            "label" : "Heading Section",
            "default" : "Best Seller" 
            
         }
        ],

    "presets": [
        {
        "name": "Products Grid"
        }
    ]
  }
  {% endschema %}

{% javascript %}
    $(document).ready(function() {
    // $('.filters a').on('click', function() {
    //   var collectionHandle = $(this).data('collection-handle');
    //   var collectionIdGet = $(this).data('collection-id');
    //   var encodedQuery = encodeURIComponent(collectionHandle);

    //   console.log(collectionIdGet);
    //   var url = "https://taskplum.myshopify.com/admin/api/2024-07/" + collectionIdGet + "/products.json";

    //   var settings = {
    //       url: url,
    //       method: "GET",
    //       timeout: 0,
    //       headers: {
    //           "X-Shopify-Access-Token": "f3bd5a295047ba2d5ca308f7f40efffb"
    //       }
    //   };

    //   $.ajax(settings)
    //       .done(function (response) {
    //           console.log(response);
    //       })
    //       .fail(function (jqXHR, textStatus, errorThrown) {
    //           console.error("Request failed: " + textStatus + ", " + errorThrown);
    //   });

    // });
     $('.filters a').on('click', function() {
        var collectionHandle = $(this).data('collection-handle');
        var encodedQuery = encodeURIComponent(collectionHandle)
        const query = `{
            collectionByHandle(handle: "${encodedQuery}") {
                title
                products(first: 10) {
                    edges {
                        node {
                            id
                            title
                            handle
                            priceRange {
                                minVariantPrice {
                                    amount
                                    currencyCode
                                }
                            }
                        }
                    }
                }
            }
        }`;

    fetch('https://taskplum.myshopify.com/api/2024-07/graphql', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json',
        'X-Shopify-Storefront-Access-Token': 'f3bd5a295047ba2d5ca308f7f40efffb',
    },
    body: JSON.stringify({ query }),
    })
    .then(response => response.json())
    .then(data => console.log(data)); 
     });
    

    });
  {% endjavascript %}